<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.mapper.MsTopicMapper">

    <resultMap id="queryListMap" type="com.java.entity.vo.topic.MsTopicSelectPageVo">
        <id property="topicId" column="topic_id"></id>
        <result property="subjectName" column="subject_name"></result>
        <result property="subjectId" column="subject_id"></result>
        <result property="stem" column="stem"></result>
        <result property="optionss" column="optionss"></result>
        <result property="score" column="score"></result>
        <result property="difficulty" column="difficulty"></result>
        <result property="createTime" column="create_time"></result>
        <result property="types" column="types"></result>
    </resultMap>
    <select id="queryList" resultMap="queryListMap">
        SELECT
            t2.subject_name,
            t1.topic_id,
            t1.subject_id,
            t1.stem,
            t1.optionss,
            t1.score,
            t1.difficulty,
            t1.create_time,
            t1.types
        FROM ms_topic t1
                 LEFT JOIN ms_subject t2
                           on t1.subject_id = t2.subject_id
            ${ew.customSqlSegment}
    </select>


</mapper>
